@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Open+Sans:400,600,800&display=swap");
body {
  background-color: green;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: #00456F;
  color: #FFFFFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

h2 {
  font-size: 30px;
  font-weight: 800; }

h3 {
  font-size: 20px;
  font-weight: 800; }

p, a {
  font-family: inherit;
  color: inherit; }

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.left-sidebar {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 20px; }
  .left-sidebar .logo-wrapper {
    margin-bottom: 50px; }
  .left-sidebar .working-info__item {
    text-align: center;
    margin-bottom: 40px; }
  .left-sidebar .working-info img {
    margin-bottom: 5px; }
  .left-sidebar .working-info .text {
    width: 100%; }
  .left-sidebar .socials {
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .left-sidebar .socials li {
      margin-right: 10px;
      color: #FFFFFF; }

.content {
  width: calc(100% - 200px);
  padding-right: 100px; }
  .content .our-entertainments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px; }
    .content .our-entertainments__item {
      position: relative;
      width: 33.33%;
      padding-bottom: 33.33%; }
      .content .our-entertainments__item.long {
        width: 66.66%; }
    .content .our-entertainments .inner-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 20px; }
    .content .our-entertainments .inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      border: 2px solid #FFFFFF;
      padding: 20px; }
