@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Open+Sans:400,600,800&display=swap');

html {
	// scroll-behavior: smooth;
}
body {
	font-family: $second_font;
	font-size: 14px;
	color: $white;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	@include mq($max-767) {
		background: $blue;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: $main_font;
}
h1 {

}
h2 {
	font-size: 30px;
	font-weight: 800;
	line-height: 1.2;
	@include mq($max-1024) {
		font-size: 20px;
	}
	@include mq($max-320) {
		font-size: 16px;
	}
}
h3 {
	font-size: 20px;
	font-weight: 800;
	@include mq($max-320) {
		font-size: 16px;
	}
}
h4 {
	font-size: 18px;
	@include mq($max-320) {
		font-size: 12px;
	}
}
h5 {

}
h6 {

}
p, a {
	font-family: inherit;
	color: inherit;
}
input[type="phone"],
.phone {
	opacity: 0.7;
	&:focus {
		opacity: 1;
	}
}
//
.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.contain {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.center {
	text-align: center;
}
div,
span {
	&.hide-block {
		opacity: 0;
		z-index: -1;
	}
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 210px;
	height: 40px;
	padding: 8px 25px;
	font-family: $main_font;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: $white;
	border: 2px solid $white;
	background-color: transparent;
	border-radius: 20px;
	&--red {
		background-color: $red;
		&:hover {
			background-color: $brown;
		}
	}
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
}
.page-header {
	position: fixed;
	top: 0;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
}
.header-block {
	h2 {
		text-transform: uppercase;
		margin-bottom: 7px;
		@include mq($max-1024) {
			margin-bottom: 5px;
		}
		@include mq($max-540) {
			margin-bottom: 2px;
		}
		@include mq($max-320) {
			font-size: 16px;
		}
	}
	p {
		font-size: 20px;
		font-weight: 500;
		font-family: $main_font;
		@include mq($max-1024) {
			font-size: 18px;
		}
		@include mq($max-1023) {
			font-size: 14px;
		}
	}
}
.preloader-wrapper {
	&.hide-preloader {
		z-index: -1;
		opacity: 0;
	}
	.preloader {

	}
}
.sections {
	padding-top: 5px;
	padding-bottom: 50px;
	scroll-snap-type: mandatory;
	// scroll-snap-points-y: repeat(3rem);
	scroll-snap-type: y mandatory;
	scroll-padding: 50px;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
	min-height: 100vh;
	scroll-snap-align: start;
	@include mq($max-1024) {
		min-height: auto;
		padding-bottom: 20px;
	}
	@include mq($max-767) {
		padding-left: 20px;
		padding-right: 20px;
	}
	.fp-tableCell {
		max-height: 100vh;
		overflow-y: auto;
	}
}

.inactive {
	opacity: 0.5;
}

.popup {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	border-radius: 20px;
	background-color: $white;
	padding: 20px;
	color: $black;
	transition: 0.3s;
	box-shadow: -20px 20px 24px rgba(0, 0, 0, 0.25);
	&.hide-block {

	}
	.close {
		position: absolute;
		z-index: 5;
		right: 20px;
		top: 20px;
		width: 20px;
		height: 20px;
		background-image: url('../images/close.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		&:hover {
			cursor: pointer;
		}
	}
	.title {
		width: 100%;
		color: $blue;
		margin-bottom: 15px;
		text-align: center;
	}
	p {
		text-align: left;
	}
	.btn-wrapper {
		margin-top: 25px;
	}
}
.send-successfuly-popup {
	position: fixed;
	z-index: 111;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 330px;
	height: 330px;
	text-align: center;
	padding: 30px 40px;
	background-color: rgba($white, 0.7);
	-webkit-backdrop-filter: blur(2px);
	 backdrop-filter: blur(2px);
	h2 {
		margin-bottom: 10px;
		font-weight: 800;
		color: $blue;
	}
	p {
		font-size: 14px;
		line-height: 19px;
		text-align: center;
	}
	.btn-wrapper {
		margin-top: 30px;
		.btn {
			border: none;
		}
	}
}

//
.page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	background-color: rgba($black, 0.25);
	&.show-overlay {
		z-index: 105;
		opacity: 1;
	}
}

// doc item
.doc-item {
	position: relative;
    padding-left: 40px;
    line-height: 30px;
    margin-bottom: 20px;
    &:hover,
    &:focus {
    	color: $white;
    	text-decoration: underline;
    	&:before {
    		width: 50px;
		    height: 50px;
		    left: -19px;
		    top: -4px;
    		background-image: url(../images/doc-item-hover.svg);
    	}
    }
	&:before {
		content: "";
		position: absolute;
		left: 0;
		width: 25px;
		height: 30px;
		background-image: url(../images/doc-item.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

// BEGIN MAIN CONTENT
.main-content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	.radial-bg {
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: radial-gradient(30vw 30vw at 73.12% 27.76%, rgba(255, 255, 255, 0.3) 0%, rgba(1, 69, 111, 0.3) 100%), #00456F;
		@include mq($max-540) {
			background: radial-gradient(50vw 50vw at 73.12% 40.76%, rgba(255, 255, 255, 0.3) 0%, rgba(1, 69, 111, 0.3) 100%), #00456F;
		}
	}
}

//
.mobile-top-line {
	display: none;
	@include mq($max-767) {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		background-color: $blue;
		display: flex;
		width: 100%;
		height: 80px;
		align-items: center;
		padding: 10px 20px;
	}
	@include mq($max-320) {
		height: 60px;
		padding: 5px 20px;
	}
	.logo-wrapper {
		display: flex;
		max-height: 100%;
		width: 160px;
		@include mq($max-1024) {
			display: block;
		}
		@include mq($max-320) {
			width: 130px;
		}
		img {
			width: auto;
		}
	}
}
//
.trigger-mobile-menu-btn {
	position: fixed;
	z-index: 111;
	top: 40px;
	right: 20px;
	width: 44px;
	height: 44px;
	display: none;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	border-radius: 50%;
	background-color: $red;
	@include mq($max-1023) {
		display: flex;
	}
	@include mq($max-767) {
		top: 20px;
		width: 40px;
		height: 40px;
	}
	@include mq($max-320) {
		top: 15px;
		width: 30px;
		height: 30px;
	}
	&:hover {
		cursor: pointer;
	}
	&.open {
		.wrapper {

			&:nth-child(1) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotateZ(45deg);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotateZ(-45deg);
			}
		}
	}
	.wrapper {
		width: 100%;
		height: 2px;
		text-align: center;
		margin-bottom: 4px;
		// transition: rotateZ 0.3s;
		@include mq($max-320) {
			margin-bottom: 3px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	span {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 16px;
		height: 2px;
		background-color: $white;
		@include mq($max-320) {
			width: 12px;
		}
	}
}
//
.left-sidebar {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 15vw;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	padding: 90px 20px 30px;
	@include mq($max-1024) {
		width: 140px;
		padding: 55px 10px 20px;
	}
	@include mq($max-1023) {
		width: 140px;
		padding-top: 40px;
	}
	@include mq($max-767) {
		display: none;
	}
	@include mq($maxh-800) {
		padding-top: 60px;
	}
	&__inner {
		position: sticky;
		top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.logo-wrapper {
		width: 100%;
		margin-bottom: 10vh;
		text-align: center;
		@include mq($max-1024) {
			margin-bottom: 30px;
		}
		@include mq($max-1023) {
			margin-bottom: 70px;
		}
		@include mq($maxh-800) {
			margin-bottom: 40px;
		}
		img {
			max-width: 73px;
			@include mq($max-1023) {
				max-width: 60px;
			}
		}
	}
	.working-info {
		width: 100%;
		&__item {
			text-align: center;
			margin-bottom: 8vh;
			color: $white;
			@include mq($max-1024) {
				margin-bottom: 42px;
			}
			@include mq($max-1023) {
				// margin-bottom: 43px;
			}
			@include mq($maxh-800) {
				margin-bottom: 35px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				.image-wrapper {
					.icon--default {
						opacity: 0;
						z-index: 0;
					}
					.icon--hover {
						opacity: 1;
						z-index: 2;
					}
				}
			}
			&.location {
				&:hover {
					a {
						text-decoration: underline;
					}
				}
			}
		}
		a, p {
			max-width: 120px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			color: inherit;
		}
		p {
			max-width: 140px;
			font-size: 12px;
			font-family: $main_font;
			margin-bottom: 0px;
			span {
				display: block;
				font-weight: 800;
			}
		}
		img {
			margin-bottom: 10px;
		}
		.image-wrapper {
			display: inline-block;
			position: relative;
			width: 30px;
			height: 30px;
			.icon {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: 0.1s;
				&--default {
					z-index: 2;
					opacity: 1;
				}
				&--hover {
					z-index: 0;
					opacity: 0;
				}
			}
		}
	}
}
.socials {
	// width: 120px;
	width: 100%;
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin-left: 0;
	li {
		margin-right: 8px;
		margin-bottom: 5px;
		color: $white;
		a {
			display: block;
			position: relative;
			width: 30px;
			height: 30px;
			&:hover {
				.hover {
					opacity: 1;
					z-index: 2;
				}
			}
		}
		img {
			width: 100%;
			height: 100%;
			transition: 0.1s;
		}
		.hover {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
}

//
.content {
	width: calc(100% - 30vw);
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	@include mq($max-1024) {
		width: calc(100% - 280px);
	}
	@include mq($max-1023) {
		width: calc(100% - 215px);
		margin-left: 140px;
	}
	@include mq($max-767) {
		width: 100%;
		padding-top: 80px;
		margin-left: 0;
	}
	@include mq($max-640) {
		padding-top: 70px;
	}
	@include mq($max-320) {
		padding-top: 50px;
	}
}

//
@keyframes scrollAnimate {
	0% {
		width: 0;
	}
	50% {
		width: 40px;
		right: calc(100% + 10px);
	}
	100% {
		width: 0px;
		right: calc(100% + 50px);
	}
}

.nav-wrapper.mobile {
	display: none;
	position: fixed;
	z-index: 110;
	top: 0;
	right: 0;
	width: 375px;
	height: 100vh;
	min-height: -webkit-fill-available;
	overflow-y: auto;
	max-width: 100%;
	background-color: $brown;
	padding: 100px 20px 20px;
	transform: translateX(100%);
	transition: 0.5s;
	-webkit-overflow-scrolling: touch;
	@include mq($max-1023) {
		display: block;
	}
	&.show-nav {
		transform: translateX(0%);
	}
	.inner {
		flex-wrap: wrap;
		display: flex;
	}
	.working-info {
		width: 50%;
		padding-right: 25px;
		&__item {
			text-align: center;
			margin-bottom: 40px;
			@include mq($max-320) {
				font-size: 12px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			img {
				margin-bottom: 15px;
			}
			a {
				display: block;
				line-height: 1.3;
				margin-bottom: 10px;
				&:focus {
					color: $white;
				}
			}
			p {
				margin-bottom: 0px;
				span {
					font-weight: 800;
					display: block;
				}
			}
		}
	}
	.sections-nav {
		width: 50%;
		max-width: 155px;
		margin-top: 0;
		margin-right: 0;
		li {
			padding-top: 4px;
			padding-bottom: 4px;
			margin-bottom: 8px;
			&.active {
				a {
					color: $brown;
					&:hover {
						color: $brown;
					}
				}
			}
			a {
				font-size: 20px;
				color: $white;
			}
		}
	}
	.socials {
		width: 100%;
		justify-content: center;
		li {
			margin-left: 10px;
			margin-right: 10px;
			a {
				width: 40px;
				height: 40px;
			}
		}
	}
}

//
.nav-wrapper {
	position: fixed;
	z-index: 10;
	max-width: 15vw;
	width: 100%;
	height: 100vh;
	right: 0;
	@include mq($max-1024) {
		width: 140px;
		padding-left: 15px;
	}
	@include mq($max-1023) {
		display: none;
		padding-left: 0;
	}
	&.red {
		.sections-nav {
			li {
				&.active {
					a {
						color: $red;
					}
				}
			}
		}
	}
	//
	.sections-nav {
		width: 100%;
		max-width: 110px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25vh;
		list-style-type: none;
		@include mq($max-1024) {
			max-width: none;
			padding-right: 20px;
			// padding-left: 10px;
		}
		@include mq($max-375) {
			padding-right: 0;
		}
		li {
			position: relative;
			padding: 2px 5px 2px 10px;
			margin-bottom: 5px;
			font-weight: 600;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 100%;
				background-color: $white;
			}
			&.active {
				background-color: $white;
				a {
					color: $blue;
					&:hover {
						color: $blue;
					}
				}
			}
			a {
				display: block;
				color: transparent;
				transition: 0.3s;
				&:hover {
					color: $white;
				}
			}
		}
	}
	.hint-wrapper {
		position: relative;
		max-width: 110px;
		width: 110px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20vh;
	}
	.hint {
		position: absolute;
		transform: rotateZ(-90deg);
		transform-origin: left;
		font-size: 12px;
		transition: 0.3s;
		&:after {
			content: "";
			position: absolute;
			width: 40px;
			height: 8px;
			animation: scrollAnimate 1.5s infinite ease;
			top: 7px;
			right: calc(100% + 10px);
			background-color: $white;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.scroll-top-wrapper {
		// position: absolute;
		// display: flex;
		// justify-content: center;
		// bottom: 10vh;
		// width: 110%;
		// margin-left: auto;
		// margin-right: auto;
	}
	//
}
.scroll-top-wrapper {
	position: fixed;
	z-index: 11;
	// width: 15vw;
	right: 4vw;
	bottom: 120px;
	@include mq($max-1023) {
		width: 75px;
		bottom: 50px;
	}
	@include mq($max-540) {
		right: 0;
	}
}
.scroll-top {
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	background-color: $red;
	background-image: url('../images/arrow-top.svg');
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.3s;
	@include mq($max-1023) {
		right: 20px;
		background-size: 14px;
	}
	@include mq($max-320) {
		width: 30px;
		height: 30px;
	}
	&:hover {
		cursor: pointer;
	}
}

.footer-mobile {
	display: none;
	padding: 50px 0 50px;
	@include mq($max-767) {
		display: block;
	}
	&__inner {
		max-width: 340px;
		margin-left: auto;
		margin-right: auto;
	}
	.working-info {
		display: flex;
		&__item {
			width: 33.33%;
			text-align: center;
			font-size: 12px;
			span {
				font-weight: 600;
				display: block;
			}
		}
		img {
			margin-bottom: 15px;
		}
		a {
			display: block;
			margin-bottom: 5px;
		}
		p {
			margin-bottom: 5px;
		}
	}
	.socials {
		margin: 30px auto;
		li {
			a {
				width: 40px;
				height: 40px;
			}
		}
	}
}
