@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Open+Sans:400,600,800&display=swap');

body {
	background-color: green;
	font-family: $second_font;
	font-size: 14px;
	background: $blue;
	color: $white;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: $bg;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $main_font;
}
h1 {

}
h2 {
	font-size: 30px;
	font-weight: 800;
}
h3 {
	font-size: 20px;
	font-weight: 800;
}
h4 {
	font-size: 18px;
}
h5 {

}
h6 {

}
p, a {
	font-family: inherit;
	color: inherit;
}
//
.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.contain {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.center {
	text-align: center;
}
.hide-block {
	opacity: 0;
	z-index: -1;
}
.header-block {
	h2 {
		text-transform: uppercase;
	}
	p {
		font-size: 20px;
		font-weight: 500;
		font-family: $main_font;
	}
}
//
.main-content {
	display: flex;
	flex-wrap: wrap;
}
.sections {
	padding-bottom: 50px;
}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 100vh;
	.fp-tableCell {
		max-height: 100vh;
		overflow-y: auto;
	}
}
//
.scroll-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $red;
	background-image: url('../images/arrow-up.svg');
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.3s;
	&:hover {
		cursor: pointer;
	}
}

.fp-scroller {
	padding-right: 15px;
	// width: 100%;
	min-height: 100%;
	& > div {
		width: 100%;
	}
}
.fp-scrollable {
	width: 100%;
	.fp-scroller {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}
//
.left-sidebar {
	width: 255px;
	display: flex;
	align-items: flex-start;
	padding: 90px 20px 30px;
	&__inner {
		position: sticky;
		top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.logo-wrapper {
		width: 100%;
		// margin-bottom: 80px;
		margin-bottom: 10vh;
		text-align: center;
		img {
			max-width: 73px;
		}
	}
	.working-info {
		&__item {
			text-align: center;
			// margin-bottom: 60px;
			margin-bottom: 8vh;
			color: $white;
			&:hover {
			}
		}
		a, p {
			max-width: 120px;
			display: block;
			color: inherit;
		}
		img {
			margin-bottom: 5px;
		}
	}
	.socials {
		width: 120px;
		margin-top: 35px;
		display: flex;
		list-style-type: none;
		margin-left: 0;
		li {
			margin-right: 10px;
			color: $white;
			a {
				display: block;
				position: relative;
				width: 30px;
				height: 30px;
				&:hover {
					.hover {
						opacity: 1;
						z-index: 2;
					}
				}
			}
			img {
				width: 100%;
				height: 100%;
				transition: 0.1s;
			}
			.hover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
	}
}

//
.nav-wrapper {
	position: fixed;
	height: 100vh;
	// top: 20vh;
	right: 20px;
	.hint {
		position: absolute;
		left: -7px;
		bottom: 130px;
		width: 110px;
		transform: rotateZ(-90deg);
		transform-origin: left top;
		font-size: 12px;
		transition: 0.3s;
		&:after {
			content: "";
			position: absolute;
			width: 40px;
			height: 40%;
			top: 7px;
			left: -55px;
			background-color: $white;
		}
	}
}
.sections-nav {
	width: 100px;
	margin-top: 20vh;
	margin-left: 0;
	list-style-type: none;
	li {
		position: relative;
		padding: 2px 5px 2px 10px;
		margin-bottom: 5px;
		font-weight: 600;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 100%;
			background-color: $white;
		}
		&.active {
			background-color: $white;
			a {
				color: $blue;
				&:hover {
					color: $blue;
				}
			}
		}
		a {
			display: block;
			color: transparent;
			transition: 0.3s;
			&:hover {
				color: $white;
			}
		}
	}
}

//
.content {
	width: calc(100% - 255px);
	padding-top: 45px;
	padding-right: 145px;
}

.inactive {
	opacity: 0.5;
}
