// colors
$blue:  #00456F;
$red: #E40005;
$brown: #AA090F;
$black: #1B1C20;
$white: #FFFFFF;
$bg: radial-gradient(33.53% 68.95% at 73.12% 27.76%, rgba(255, 255, 255, 0.3) 0%, rgba(1, 69, 111, 0.3) 100%), #00456F;

// fonts
$main_font: 'Montserrat', sans-serif;
$second_font: 'Open Sans', sans-serif;

