.cinema-section {
	display: flex;
	align-items: center;
	// background-color: $blue;
	// margin-top: 0;
	@include mq($max-1024) {
		padding-top: 45px;
	}
	@include mq($max-540) {
		padding-top: 65px;
	}
	&__inner {
		position: relative;
		width: 100%;
		min-height: 90vh;
		@include mq($max-1023) {
			min-height: auto;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 200px;
		margin-left: -50px;
		margin-right: -50px;
		margin-bottom: 60px;
		@include mq($max-1440) {
			padding-left: 50px;
			padding-right: 50px;
			text-align: center;
		}
		@include mq($max-1024) {
			margin-bottom: 30px;
		}
		@include mq($max-1023) {
			margin-bottom: 5px;
		}
		@include mq($max-540) {
			height: auto;
			padding-top: 30px;
			padding-bottom: 30px;
			margin-bottom: 60px;
			background-size: cover;
		}
	}
	&__body {
		position: relative;
		border: 3px solid $white;
		margin-bottom: 200px;
		@include mq($max-1440) {
			margin-bottom: 170px;
		}
		@include mq($max-1023) {
			margin-bottom: 110px;
		}
		@include mq($max-767) {
			// margin-bottom: 100px;
		}
		@include mq($max-320) {

		}
		&:hover {
			.bg-image {
				opacity: 1;
				z-index: -1;
			}
		}
		.screen-wrapper {
			position: relative;
			overflow: hidden;
		}
		.screen-arrow-desktop {
			@include mq($max-767) {
				display: none;
			}
		}
		.screen-arrow-mobile {
			display: none;
			@include mq($max-767) {
				display: block;
			}
		}
		.bg-image {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
			transition: 0.3s;
			@include mq($max-1023) {
				// z-index: 0;
				opacity: 1;
			}
			@include mq($max-767) {
				// height: calc(100% - 130px);
			}
			@include mq($max-320) {
				// height: calc(100% - 110px);
			}
		}
	}
	.screen-size-text {
		position: absolute;
		top: 5vw;
		right: 13%;
		font-size: 30px;
		opacity: 0.3;
		@include mq($max-1200) {
			top: 4vw;
			right: 10%;
			max-width: 155px;
			text-align: center;
		}
		@include mq($max-1024) {
			font-size: 20px;
			top: 5vw;
		}
		@include mq($max-767) {
			font-size: 16px;
			opacity: 1;
		}
	}
	.header-text {
		@include mq($max-1200) {
			max-width: 320px;
		}
		@include mq($max-540) {
			position: static;
			margin-bottom: 15px;
			text-align: center;
		}
		&.desktop {
			position: absolute;
			top: 5vw;
			left: 30px;
			display: block;
			font-size: 30px;
			@include mq($max-1200) {
				top: 4vw;
			}
			@include mq($max-1024) {
				font-size: 20px;
				max-width: 300px;
				top: 5vw;
			}
			@include mq($max-767) {
				display: none;
			}
		}
		&.mobile {
			display: none;
			text-align: center;
			@include mq($max-767) {
				display: block;
			}
			@include mq($max-1023) {
				font-size: 20px;
			}
			@include mq($max-767) {
				font-size: 16px;
				// opacity: 0.3;
			}
		}
	}
	.audience-bg {
		display: flex;
		align-items: flex-end;
		position: absolute;
		top: 0;
		left: -50px;
		bottom: -200px;
		right: -50px;
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
		padding-left: 50px;
		padding-right: 50px;
		@include mq($max-1440) {
			bottom: -170px;
		}
		@include mq($max-1280) {
			bottom: -150px;
		}
		@include mq($max-1023) {
			bottom: -110px;
		}
		@include mq($max-540) {
			background-position-y: 75px;
		}
		@include mq($max-320) {
			background-size: 120%;
		}

		p {
			max-width: 560px;
			font-size: 20px;
			line-height: 1.2;
			font-weight: 500;
			@include mq($max-1023) {
				font-size: 14px;
			}
		}
	}
}
