.cinema-section {
	display: flex;
	align-items: center;
	// background-color: $blue;
	// margin-top: 0;
	@include mq($max-1024) {
		padding-top: 45px;
	}
	@include mq($max-540) {
		padding-top: 65px;
	}
	&__inner {
		position: relative;
		width: 100%;
		min-height: 90vh;
		@include mq($max-1023) {
			min-height: auto;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 200px;
		margin-left: -50px;
		margin-right: -50px;
		margin-bottom: 60px;
		@include mq($max-1279) {
			padding-left: 50px;
			padding-right: 50px;
			text-align: center;
		}
		@include mq($max-1024) {
			margin-bottom: 30px;
		}
		@include mq($max-1023) {
			margin-bottom: 5px;
		}
		@include mq($max-540) {
			height: auto;
			padding-top: 30px;
			padding-bottom: 30px;
			margin-bottom: 60px;
			background-size: cover;
		}
	}
	&__body {
		position: relative;
		padding-bottom: 200px;
		@include mq($max-1023) {
			padding-bottom: 170px;
		}
		@include mq($max-540) {
			padding-bottom: 130px;
		}
		@include mq($max-320) {
			padding-bottom: 110px;
		}
		&:hover {
			.bg-image {
				opacity: 1;
				z-index: 0;
			}
		}
		.header-text {
			position: absolute;
			top: 50px;
			left: 30px;
			@include mq($max-540) {
				position: static;
				margin-bottom: 15px;
				text-align: center;
			}
			&.desktop {
				display: block;
				@include mq($max-767) {
					display: none;
				}
			}
			&.mobile {
				display: none;
				text-align: center;
				@include mq($max-767) {
					display: block;
				}
			}
		}
		.screen-wrapper {
			position: relative;
			overflow: hidden;
		}
		.bg-image {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 200px);
			border: 3px solid $white;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
			transition: 0.3s;
			@include mq($max-1023) {
				height: calc(100% - 170px);
			}
			@include mq($max-540) {
				height: calc(100% - 130px);
			}
			@include mq($max-320) {
				height: calc(100% - 110px);
			}

		}
	}
	.audience-bg {
		display: flex;
		align-items: flex-end;
		position: absolute;
		top: 0;
		left: -50px;
		bottom: 0;
		right: -50px;
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
		padding-left: 50px;
		padding-right: 50px;
		@include mq($max-1279) {
			// background-size: 120px;
		}
		@include mq($max-1023) {
			// padding-bottom: 170px;
		}
		@include mq($max-540) {
			// padding-bottom: 130px;
		}
		@include mq($max-320) {
			background-size: 120%;
		}

		p {
			max-width: 560px;
			font-size: 20px;
			line-height: 1.2;
			font-weight: 500;
			@include mq($max-1023) {
				font-size: 14px;
			}
		}
	}
}
