.entertainments {
	padding-top: 0;
	margin-top: 0;
	display: flex;
	align-items: center;
	@include mq($max-1024) {
		padding-top: 40px;
	}
	@include mq($max-1023) {
		padding-top: 20px;
	}
	@include mq($max-640) {
		padding-top: 0;
	}
}
.our-entertainments {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	@include mq($max-1024) {
		width: calc(100% + 20px);
		margin-left: -10px;
		margin-right: -10px;
	}
	@include mq($max-640) {
		margin-left: -8px;
		margin-right: -8px;
	}
	&__item {
		position: relative;
		width: 33.33%;
		padding-bottom: 33.33%;
		@include mq($max-540) {
			width: 50%;
			padding-bottom: 50%;
		}
		&.long {
			width: 66.66%;
			@include mq($max-540) {
				width: 100%;
			}
		}
	}
	.inner-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 20px;
		@include mq($max-1279) {
			padding: 10px;
		}
		@include mq($max-640) {
			padding: 8px;
		}
	}
	.inner {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		flex-wrap: wrap;
		border: 4px solid $white;
		text-align: center;
		text-transform: uppercase;
		@include mq($max-1023) {
			border-width: 2px;
		}
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			box-shadow: inset -15px 15px 24px rgba(0, 0, 0, 0.1),
			-20px 20px 24px rgba(0, 0, 0, 0.1);
			@include mq($max-540) {
				box-shadow: inset -10px 10px 15px rgba(0, 0, 0, 0.1),
				-15px 15px 15px rgba(0, 0, 0, 0.1);
			}
		}
		&:hover {
			.image-wrapper {
				opacity: 1;
			}
		}
		.title {
			position: relative;
			z-index: 5;
			display: flex;
			width: 100%;
			height: 100%;
			@include mq($max-1023) {
				font-size: 20px;
			}
			span {
				text-shadow: -20px 20px 24px rgba(0, 0, 0, 0.25);
				@include mq($max-540) {
					text-shadow: -15px 15px 15px rgba(0, 0, 0, 0.25);
				}
			}
			a {
				display: flex;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
				padding: 20px;
				&:focus,
				&:hover {
					color: $white;
				}
			}
		}
		.images-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.image-wrapper {
			opacity: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: 0.5s;
			@include mq($max-1023) {
				opacity: 1;
			}
			&.active {
				z-index: 2;
			}
		}
	}
}
