.info-section {
	display: flex;
	align-items: center;
	@include mq($max-1024) {
		padding-top: 45px;
	}
	@include mq($max-1023) {
		padding-top: 35px;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
	}
	h2 {
		margin-bottom: 25px;
		@include mq($max-320) {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.left {
		width: 48%;
		@include mq($max-1279) {
			width: 100%;
		}
		h2 {
			max-width: 450px;
		}
		.tickets {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 30px;
			@include mq($max-320) {
				margin-bottom: 20px;
			}
		}
		.ticket {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			justify-content: center;
			width: 164px;
			height: 350px;
			padding: 40px 20px 90px;
			color: $black;
			box-shadow: -20px 20px 24px rgba(0, 0, 0, 0.25);
			@include mq($max-375) {
				width: 156px;
				height: 335px;
			}
			@include mq($max-320) {
				width: 132px;
				height: 280px;
			}
			&__header,
			&__footer {
				position: absolute;
				left: 0;
				width: 100%;
				height: 6px;
			}
			&__header {
				top: -6px;
			}
			&__footer {
				bottom: -6px;
			}
			&__days,
			&__price {
				width: 100%;
				text-align: center;
			}
			&__days {
				font-size: 14px;
				color: $blue;
				margin-top: 60px;
				@include mq($max-1023) {
					margin-top: 75px;
				}
				@include mq($max-640) {
					margin-top: 85px;
				}
			}
			&__price {
				font-family: $main_font;
				font-size: 30px;
				color: $red;
				font-weight: 800;
				@include mq($max-1023) {
					font-size: 20px;
					margin-bottom: 15px;
				}
			}
			&.ticket-2 {
				margin-top: 60px;
				margin-left: 30px;
				@include mq($max-414) {
					margin-left: auto;
				}
			}
		}
		.description {
			max-width: 350px;
			line-height: 1.36;
		}
	}
	.right {
		width: 52%;
		@include mq($max-1279) {
			width: 100%;
			padding-top: 50px;
		}
		@include mq($max-1024) {
			padding-top: 33px;
		}
		@include mq($max-320) {
			padding-top: 46px;
		}
		h2 {
			@include mq($max-1279) {
				max-width: 600px;
			}
			@include mq($max-540) {
				text-align: center;
			}
		}
		label {
			font-size: 12px;
			color: $white;
		}
		input[type="tel"],
		input[type="text"],
		input[type="email"] {
			font-size: 20px;
			margin-bottom: 12px;
			background-color: transparent;
			border: 1px solid $white;
			color: $white;
			@include mq($max-375) {
				font-size: 16px;
			}
			&:focus {
				background-color: $blue;
				box-shadow: none;
			}
		}
		input[type="submit"],
		button[type="submit"] {
			padding: 10px 25px;
			letter-spacing: 0.2em;
		}
		input[type="checkbox"] {
			display: none;
		}
		.btn-wrapper {
			@include mq($max-1279) {
				text-align: left;
			}
			@include mq($max-540) {
				text-align: center;
			}
		}
		.btn:not(.inactive) {
			background-color: $red;
			border-color: $red;
			&:hover {
				background-color: $brown;
				border-color: $brown;
			}
		}
		.contact-form {
			max-width: 450px;
		}
		.confirmation-wrapper {
			position: relative;
			margin-top: 30px;
			margin-bottom: 30px;
			padding-left: 40px;
			font-size: 14px;
			@include mq($max-540) {
				margin-top: 23px;
				margin-bottom: 23px;
			}
			@include mq($max-320) {
				margin-top: 18px;
				margin-bottom: 25px;
			}
			input[type="checkbox"]:checked {
				& ~ .styled-checkbox {
					&:after {
						opacity: 1;
					}
				}
			}
			label {
				font-size: 14px;
				line-height: 1.4;
			}
		}
		.styled-checkbox {
			position: absolute;
			left: 1px;
			top: 50%;
			transform: translateY(-50%);
			width: 25px;
			height: 25px;
			&:before,
			&:after {
				content: "";
				position: absolute;
			}
			&:before {
				width: 26px;
				height: 26px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 50%;
				border: 1px solid $white;

			}
			&:after {
				// display: none;
				width: 14px;
				height: 14px;
				top: 50%;
				left: 52%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				background-color: $red;
				opacity: 0;
				transition: 0.2s;
			}
		}
	}
}
