.kitchen-section {
	&__inner {
		display: flex;
		padding: 50px 50px;
		background-color: $red;
		color: $white;
	}
	.left {
		width: 30%;
		p {
			line-height: 19px;
		}
	}
	.right {
		width: 70%;
	}
	.services-list {
		display: flex;
		&__item {
			width: 33.3%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
